@import 'fonts';
@import 'reset';
@import 'vars';
@import 'libs';
@import 'global';
@import 'components/header';
@import 'components/footer';
@import 'components/product-card';
@import 'components/btn';


.hero {

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(50vh + 120px);
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 66px;
    line-height: 130%;
    font-weight: 500;
    color: $darkBlue-900;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    color: $accent;
  }

  &__text {
    margin-bottom: 20px;
    max-width: 450px;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__link-order {
    margin-right: 34px;
  }

  &__link {
    text-decoration-line: underline;
    transition: color 0.3s, box-shadow 0.3s;

    &:hover {
      color: $accent;
      text-decoration-line: none;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      text-decoration-line: none;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      text-decoration-line: none;
    }
  }
}

.category {
  text-align: center;

  &__title {
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    margin-bottom: 45px;
  }

  &__box {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 13px 32px;
    border-radius: 5px;
    border: 1px solid $silver-200;
    background-color: $white;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

    &-icon {
      margin-right: 10px;
    }

    &.mixitup-control-active {
      background-color: $accent;
      color: $white;
    }

    &:hover {
      color: $accent;
      background-color: rgba(255, 122, 80, 0.1);
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:active {
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 27px;
    margin-bottom: 60px;
  }

  &__link-more {
    text-decoration-line: underline;
    transition: color 0.3s, box-shadow 0.3s;

    &:hover {
      color: $accent;
      text-decoration-line: none;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      text-decoration-line: none;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      text-decoration-line: none;
    }
  }
}




@import 'media';