.header {
  padding: 60px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__user-nav {
    display: flex;
  }

  &__btn {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    position: relative;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      background-color: rgba(255, 122, 80, 0.1);
    }

    &:active {
      background-color: $active;
      color: $accent;
    }

    &:hover {
      background-color: $accent;

      .header__btn-quantity {
        background-color: $white;
        color: $accent;
      }

      .header__btn-icon {
        stroke: white;
      }
    }
  }

  &__btn-icon {
    stroke: $darkBlue-900;
    transition: stroke 0.3s;
  }

  &__btn-quantity {
    position: absolute;
    text-align: center;
    background-color: $accent;
    color: $white;
    border-radius: 50%;
    right: 4px;
    top: 7px;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 15px;
    transition: background-color 0.3s;
  }
}

.header-menu {
  margin-right: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    font-size: 18px;
    line-height: 120%;
    transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;

    &.current {
      color: $accent;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }

    &:hover {
      color: $accent
    }
  }
}