.hero {

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 62vh;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  &__title {
    max-width: 500px;
    margin-bottom: 20px;
    font-size: 66px;
    line-height: 130%;
    font-weight: 500;
    color: $darkBlue-900;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    color: $accent;
  }

  &__text {
    margin-bottom: 20px;
    max-width: 450px;
  }

  &__box {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__btn {
    margin-right: 34px;
  }

  &__link {
    text-decoration-line: underline;
    transition: color 0.3s, box-shadow 0.3s;

    &:not(:last-child) {
      margin-right: 35px;
    }

    &:hover {
      color: $accent;
      text-decoration-line: none;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      text-decoration-line: none;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      text-decoration-line: none;
    }
  }
}