.close {
  display: none;
  margin-right: 16px;
  width: 44px;
  height: 44px;
  position: relative;
  transition: box-shadow 0.3s, opacity 0.3s;

  &__filter {
    position: absolute;
    background-color: #FAEDED;
    border-radius: 3px;
    right: 0;
    top: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 26%;
    width: 20px;
    height: 2px;
    background-color: $darkBlue-900;
    transform: rotate(45deg);
    transition: background-color 0.3s;

    &:hover {
      background-color: $accent;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 26%;
    width: 20px;
    height: 2px;
    background-color: $darkBlue-900;
    transform: rotate(-45deg);
    transition: background-color 0.3s;
  }

  &:hover {

    &::before,
    &::after {
      background-color: $accent;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }

  &:active {
    opacity: 0.5;
  }

  @include laptop {
    display: block;
  }

}