//select catalog

.jq-selectbox__select {
  padding: 15px;
  display: flex;
  align-items: center;
  height: 47px;
  border: 1px solid $gray;
  border-radius: 4px;
  background: $white;
  font-family: 'Rubic', sans-serif;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transition: ease color 0.3s, border-color 0.3s;

  &:hover {
    border-color: $accent;
    color: $accent;

    .jq-selectbox__trigger::after,
    .jq-selectbox__trigger::before {
      background-color: $accent;
    }
  }
}

.jq-selectbox li,
.jq-selectbox li.selected {
  background-color: $white;
  padding: 5px 15px;
  font-size: 14px;
  border: 1px solid $gray;
  cursor: pointer;
  transition: ease color 0.3s, border-color 0.3s;

  &:hover {
    border-color: $accent;
    color: $accent;
  }

  &:focus {
    border-color: $accent;
  }
}

.jq-selectbox__dropdown {
  animation: ani 0.7s forwards;
}

.jq-selectbox__select-text {
  margin-right: 15px;
}

.jq-selectbox__trigger {

  &::after {
    content: "";
    display: block;
    margin-top: -1px;
    height: 1px;
    width: 9px;
    background-color: $gray;
    transform: rotate(-45deg);
    transition: ease background-color 0.3s;
  }

  &::before {
    content: "";
    display: block;
    margin-left: -6px;
    height: 1px;
    width: 9px;
    background-color: $gray;
    transform: rotate(45deg);
    transition: ease background-color 0.3s;
  }
}

.jq-selectbox li.selected {
  background-color: $white;
  color: $accent;
}



//input catalog

.filter__box {

  .jq-number__field {
    height: 40px;
    width: 70px;
    border: none;
    box-shadow: none;
  }

  .jq-number__spin {
    display: none;
  }

  .jq-number__field input {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 100%;
    color: $dark;
  }

  .irs-handle.to {
    top: 5px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 44px;
      height: 44px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .irs-handle.from {
    top: 23px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 44px;
      height: 44px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// input product

.product {

  .jq-number {
    position: relative;
    padding: 0 44px;
  }

  .jq-number__spin {
    position: absolute;
    cursor: pointer;
    top: 0;
    background-color: $accent;
    width: 44px;
    height: 44px;
    transform: rotate(270deg);

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 20px;
      border: none;
      top: 21px;
      left: 11px;
      transform: rotate(90deg);
      background-color: $white;
      transition: ease background-color 0.3s, box-shadow 0.3s, opacity 0.3s;
    }

    &:hover {
      background-color: $accent-600;
    }

    &:focus {
      background-color: $accent-600;
      box-shadow: 0 0 0 1px rgba(255, 104, 56, 0.7);
    }

    &:active {
      opacity: 0.5;
    }
  }

  .jq-number__spin.plus {
    border-radius: 0 0 3px 3px;
    right: 0;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 20px;
      left: 11px;
      top: 21px;
      background-color: $white;
    }
  }

  .jq-number__spin.minus {
    border-radius: 3px 3px 0 0;
    left: 0;
  }

  .jq-number__field {
    height: 44px;
    width: 70px;
  }

  .jq-number__field input {
    text-align: center;
    background-color: #FAEDED;
    width: 100%;
    padding: 10px 17px;
    font-size: 20px;
    line-height: 100%;
    color: $darkBlue-900;
  }

}